@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Outfit";
}

section {
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  border-radius: 16px;
  width: 360px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cube {
  width: 100%;
  border-radius: 8px;
}

.textarea .title h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

p,
span {
  width: fit-content;
  font-size: 1rem;
  color: hsl(215, 51%, 70%);
  font-size: 1.28rem;
}

.value {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(214, 24%, 26%);
}

.value .eth {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.price,
.days {
  display: flex;
}

.value span {
  margin-left: 0.4rem;
}

.card-foot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.6rem;
}

.card-foot img {
  width: 2.5rem;
  margin-right: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}

.card-foot a {
  color: white;
  text-decoration: none;
}

.card-foot a:hover {
  transition: 200ms;
  color: hsl(178, 100%, 50%);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-family: "Outfit";
  color: hsl(215, 51%, 70%);
}

footer a {
  color: hsl(178, 100%, 50%);
}

footer a:hover {
  color: hsl(215, 51%, 70%);
  transition: 200ms;
}
