@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 239, 223);
  height: 100vh;
  text-align: center;
  color: rgb(78, 78, 78);
}

#container {
  background-color: rgb(255, 255, 255);
  width: 500px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.item-picture img {
  max-width: 250px;
  max-height: 100%;
  margin-right: 1.5rem;
  border-radius: 8px 0px 0px 8px;
  margin-bottom: -4px;
}

.item-description {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item-category p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.275rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-title p {
  margin-top: 0.7rem;
  align-self: flex-start;
  font-weight: 700;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.7rem;
  color: black;
}

.item-text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.item-price {
  display: flex;
  align-items: center;
}

.item-price .discount-price {
  font-size: 24px;
  color: rgba(25, 112, 112, 0.842);
  font-family: 'Ultra';
}

.item-price .former-price {
  margin-left: 0.7rem;
  text-decoration: line-through;
  font-size: 12px;
}

.btn {
  background-color: rgba(25, 112, 112, 0.842);
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  transition: 500ms;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(11, 48, 48, 0.842);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 99;
}

.btn span {
  margin-left: 8px;
}

.attribution {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  text-align: center;
  justify-content: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
